# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive Terraform files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI local settings
.terraformrc
.terraform.lock.hcl

# Editor & OS junk files
*.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp